panda:
  # Publish all joint states --------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50
  
  # Position controllers ------------------------------
  joint_controllers:
    type: position_controllers/JointTrajectoryController
    joints:
      -panda_joint1
      -panda_joint2
      -panda_joint3
      -panda_joint4
      -panda_joint5
      -panda_joint6
      -panda_joint7
      -panda_finger_joint1
    gains:
      panda_joint1: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
      panda_joint2: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
      panda_joint3: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
      panda_joint4: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
      panda_joint5: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
      panda_joint6: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
      panda_joint7: {p: 100.0, i: 0.01, d: 10.0,i_clamp: 1}
  
