controller_list:
  - name: ""
    action_ns: joint_controllers/joint_trajectory_action
    type: FollowJointTrajectory
    joints: 
      - panda_joint1
      - panda_joint2
      - panda_joint3
      - panda_joint4
      - panda_joint5
      - panda_joint6
      - panda_joint7
